<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="~{layout :: layout}">

<div th:fragment="content">
    <h1>連携倉庫管理</h1>

    <table class="table table-striped align-middle">
        <thead>
            <tr>
                <th>倉庫名</th>
                <th>住所</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="linkedWarehouse : ${linkedWarehouses}">
                <td th:text="${linkedWarehouse.warehouseName}"></td>
                <td th:text="${linkedWarehouse.warehouseAddress}"></td>
                <td>
                    <a th:href="@{/linked-warehouses/{id}(id=${linkedWarehouse.warehouseId})}"
                        class="btn btn-primary">在庫一覧</a>
                </td>
                <td>
                    <a th:href="@{/linked-warehouses/{id}/inquiry(id=${linkedWarehouse.warehouseId})}"
                        class="btn btn-primary">問い合わせ</a>
                </td>
            </tr>
        </tbody>
    </table>

</html>