<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" th:replace="layout :: layout">

<div th:fragment="content">

	<h1 th:text="${shop.shopId == null} ? '新規店舗追加' : '店舗編集'"></h1>

	<div th:if="${errorMessage}" class="text-danger">
		<span style="color:red" th:text="${errorMessage}"></span>
	</div>

	<!-- 入力フォーム -->
	<form th:action="@{${shop.shopId == null}?'/shop/add':'/shop/update'" th:object="${shop}" method="post">

		<!-- 店舗ID -->
		<input typ="hidden" th:if="${shop.shopId != null}" th:field="*{shopId}" />

		<!-- 店舗名 -->
		<div class="mb-3">
			<label for="shopName" class="form-label">店舗名 <span style="color:red">*</span></label>
			<input type="text" id="shopName" th:field="*{shopName}" class="form-control" required maxlength="255">
		</div>

		<!-- 店舗住所 -->
		<div class="mb-3">
			<label for="shopAddress" class="form-label">店舗住所 <span style="color:red">*</span></label>
			<input type="text" id="shopAddress" th:field="*{shopAddress}" class="form-control" required maxlength="255">
		</div>

		<!-- ボタン -->
		<button type="submit" class="btn btn-primary" th:text="${shop.shopId == null} ? '追加' :'編集'"></button>
		<a th:href="@{/shop}" class="btn btn-secondary">一覧に戻る</a>

	</form>

</div>

</html>